DATABASE_HOST=localhost
DATABASE_USER=orders
DATABASE_PASSWORD=changeme
DATABASE_NAME=orders
DATABASE_PORT=5432
OTEL_SERVICE_NAME=shop-order-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
